cmake
streamlit
python-dotenv
pymongo
langchain_openai
pypdf
langchain
langchain_mongodb
markdownify
streamlit_chat
langchain-community    
pinecone[grpc]
langchain-pinecone
pinecone
langchain-openai
langchain-text-splitters
nltk
pinecone-client[grpc]
ragas