streamlit
python-dotenv
pymongo
langchain_openai
pypdf
pypdf2
langchain
langchain_mongodb
markdownify
streamlit_chat
langchain-community    
pinecone[grpc]
langchain-pinecone
pinecone
langchain-openai
langchain-text-splitters
snowflake_snowpark_python
snowflake-snowpark-python[pandas]
nltk
langchain_experimental
spacy
pinecone-client[grpc]
ragas